
<div class="text-style">
    <h3 >
        Edit a Product 
    </h3>
<hr> 
<form [formGroup]="ProductForm" (submit)="updateProduct()" >
<div class="form-group">
    <input [class.is-invalid]="ProductName?.invalid && ProductName?.touched" 
     type="text" placeholder="Product Name" class="form-control" formControlName="ProductName">
     <div *ngIf="ProductName?.invalid && ProductName?.touched" class="invalid-feedback">
       <small *ngIf="ProductName?.errors?.['required']" class="text-danger"> Product Name is required.</small>
       <small *ngIf="ProductName?.errors?.['minlength']" class="text-danger"> Product Name must be atleast 3 Characters.</small>
      </div>
</div> 
<div class="form-group">
        <input [class.is-invalid]="ProductPrice?.invalid && ProductPrice?.touched" 
        type="text" placeholder="Product Price" class="form-control" formControlName="ProductPrice">
        <div *ngIf="ProductPrice?.invalid && ProductPrice?.touched" class="invalid-feedback">
            <small *ngIf="ProductPrice?.errors?.['required']" class="text-danger" > Product Price is required.</small>
            <small *ngIf="ProductPrice?.errors?.['min']" class="text-danger" > Product Price must be a Positive value.</small>
        </div>
</div>
<div class="form-group">
<textarea formControlName="ProductDescription" class="form-control" placeholder="Product Description ( Optional )"  rows="4" cols="10" ></textarea>
</div>
<div class="form-group"> 
    <select class="custom-select" formControlName="ProductStatus">
        <option selected> Product Status </option>
        <option  *ngFor="let item of InventoryStatus">{{item}}</option>
    </select>
   </div>
   <div class="form-group" style="text-align: center;">
    <div>
        <button [disabled]="!ProductForm.valid" type="submit"  class="btn btn-secondary"  routerLinkActive="active">
            Update
        </button>
    </div>
</div>

</form>

</div>
<router-outlet/>